# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/
lib/
build/
develop-eggs/
pip-wheel-metadata/
__pypackages__/
*.manifest
*.spec
*.pyc
server/python/*.pyc
server/python/venv/
server/python/.venv/
server/python/env/
server/python/*.pkl
server/python/*.jsonl
